page-login {
  form{
    margin-top: 105px;
  }

  .login{
    background-color: #11C5F3;
    text-align: center;
    min-height: 200px;
    img {
      max-width: 250px;
    }
  }

  .list {
    margin-bottom: 0;
  }

}
