<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>
      ODOS Mobile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="intro">

  <div text-center>
    <img src="../../assets/imgs/logo.png" style="width: 70%" />
  </div>

  <div class="iongrid">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="clock" color="primary" ></ion-icon>
                <button ion-button [navPush]="pushPage">2018</button>
              </div>
              <div>2018</div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="camera" color="primary"></ion-icon>
              </div>
              <div>2018</div>

            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="book" color="primary"></ion-icon>
                <div class="test" text-center>Material</div>
              </div>
              <div>2018</div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="build" color="primary"></ion-icon>
                <div class="test" text-center>Config FGF</div>

              </div>
              <div>2018</div>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="book" color="primary"></ion-icon>
                <div class="test" text-center>Material</div>
              </div>
              <div>2018</div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="build" color="primary"></ion-icon>
                <div class="test" text-center>Config FGF</div>

              </div>
              <div>2018</div>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="book" color="primary"></ion-icon>
                <div class="test" text-center>Material</div>
              </div>
              <div>2018</div>

            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card class="card">

            <ion-card-content>
              <div>
                <ion-icon class="ins-icon" name="build" color="primary"></ion-icon>
                <div class="test" text-center>Config FGF</div>

              </div>
              <div>2018</div>


            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="iongrid">
    <ion-card *ngFor="let list of page">
      <ion-card-content>
        <p>
          {{ list?.title.rendered }}
        </p>
        <div [innerHTML]="list?.content?.rendered"></div>
        <div [innerHTML]="list?.excerpt?.rendered"></div>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-list>
    <button ion-item *ngFor="let list of page">
      {{ list?.title.rendered }}
    </button>
  </ion-list>

</ion-content>
