page-home {
  .ins-icon{
    font-size: 2.0em;
  }
  .intro{
    background-color: rgb(53, 132, 236);
  }
  .iongrid{
    background-color: white;
    //padding: 0%;
    margin-right: -5%;
    margin-left:-5%;
    margin-top: -3%;

  }
  .card{
    background-color: tan;

  }
  .test{
    float: right;
    text-align: center;
  }
}
